body {
  max-width: 1080px;
  height: 700px;
  padding-left: 250px;
  padding-top: 100px;
}

h1 {
  /* font-family: "Comfortaa", cursive; */
  /* font-weight: 500; */
  color: #0a2b68;
  font-size: 30px;
}

.toggle-btn {
  width: 220px;
  box-shadow: 0 0 25px 8px #d9dffc;
  border-radius: 30px;
  position: relative;
  margin: 20px;
}

.toggle {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 0;
  position: relative;
  font-family: "Comfortaa", cursive;
  color: #6671aa;
  font-size: 12px;
}

#top-btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #c8d1ff, #a6b5f7);
  border-radius: 30px;
  transition: 0.5s;
}

.login {
  top: 100px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

input {
  width: 250px;
  padding: 10px 0;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #6671aa;
  outline: none;
  background: transparent;
}

.log-in-btn {
  height: 25px;
  width: 70px;
  border-radius: 30px;
  font-family: "Comfortaa", cursive;
  color: white;
  background: linear-gradient(to right, #c8d1ff, #a6b5f7);
  border: none;
  font-size: 13px;
  box-shadow: 0 0 2px 2px #d9dffc;
  margin: 10px 0;
  cursor: pointer;
}

.signup {
  top: 100px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
  left: 600px;
}

.sign-up-btn {
  height: 25px;
  width: 70px;
  border-radius: 30px;
  font-family: "Comfortaa", cursive;
  color: white;
  background: linear-gradient(to right, #c8d1ff, #a6b5f7);
  border: none;
  font-size: 13px;
  box-shadow: 0 0 2px 2px #d9dffc;
  margin: 10px 0;
  cursor: pointer;
}

.form-container {
  width: 320px;
  height: 450px;
  background: white;
  overflow: hidden;
  position: relative;
  padding: 5px;
}
