body {
  max-width: 1080px;
  height: 700px;
  padding-left: 250px;
  padding-top: 80px;
}

h1 {
  /* font-family: "Comfortaa", cursive; */
  /* font-weight: 500; */
  color: #0a2b68;
  font-size: 30px;
}

.toggle-btn {
  width: 220px;
  box-shadow: 0 0 25px 8px #d9dffc;
  border-radius: 30px;
  position: relative;
  margin: 20px;
}

.toggle {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 0;
  position: relative;
  font-family: "Comfortaa", cursive;
  color: #6671aa;
  font-size: 12px;
}

#top-btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #c8d1ff, #a6b5f7);
  border-radius: 30px;
  transition: 0.5s;
}

.login {
  top: 100px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

input {
  width: 250px;
  padding: 10px 0;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #6671aa;
  outline: none;
  background: transparent;
}

.log-in-btn {
  height: 25px;
  width: 70px;
  border-radius: 30px;
  font-family: "Comfortaa", cursive;
  color: white;
  background: linear-gradient(to right, #c8d1ff, #a6b5f7);
  border: none;
  font-size: 13px;
  box-shadow: 0 0 2px 2px #d9dffc;
  margin: 10px 0;
  cursor: pointer;
}

.signup {
  top: 100px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
  left: 600px;
}

.sign-up-btn {
  height: 25px;
  width: 70px;
  border-radius: 30px;
  font-family: "Comfortaa", cursive;
  color: white;
  background: linear-gradient(to right, #c8d1ff, #a6b5f7);
  border: none;
  font-size: 13px;
  box-shadow: 0 0 2px 2px #d9dffc;
  margin: 10px 0;
  cursor: pointer;
}

.form-container {
  width: 320px;
  height: 300px;
  background: white;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

svg {
  width: 700px;
  margin-left: 280px;
  position: absolute;
  top: 300px;
}

#leaf1 {
  animation-duration: 1.2s;
  animation-name: animateLeaf1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf1 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(10px) translateY(5px);
  }
}

#leaf2 {
  animation-duration: 2s;
  animation-name: animateLeaf2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf2 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(5px) translateY(-5px);
  }
}

#leaf3 {
  animation-duration: 1.8s;
  animation-name: animateLeaf3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf3 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-5px) translateY(-5px);
  }
}

#leaf4 {
  animation-duration: 1.3s;
  animation-name: animateLeaf4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf4 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(12px) translateY(8px);
  }
}
#leaf5 {
  animation-duration: 1.4s;
  animation-name: animateLeaf5;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf5 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(16px) translateY(-9px);
  }
}

#leaf6 {
  animation-duration: 1.1s;
  animation-name: animateLeaf6;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf6 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-9px) translateY(-9px);
  }
}

#leaf7 {
  animation-duration: 2s;
  animation-name: animateLeaf7;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf7 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(10px) translateY(-9px);
  }
}

#leaf8 {
  animation-duration: 1.7s;
  animation-name: animateLeaf8;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf8 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-5px) translateY(-10px);
  }
}

#leaf9 {
  animation-duration: 1.2s;
  animation-name: animateLeaf9;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf9 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-10px) translateY(-8px);
  }
}

#leaf10 {
  animation-duration: 1s;
  animation-name: animateLeaf10;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateLeaf10 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-8px) translateY(10px);
  }
}

#womanArm {
  animation-duration: 1s;
  animation-name: woman;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes woman {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-3px) translateY(0);
  }
}

.manArm {
  animation-duration: 1s;
  animation-name: man;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes man {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: rotate(0.3deg);
  }
}

#selection {
  animation-duration: 1s;
  animation-name: selection;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes selection {
  from {
    opacity: 0.5;
    fill: #7c8ecd;
  }
  to {
    opacity: 1;
  }
}

.st0 {
  fill: #ebfbff;
}
.st1 {
  fill: #78b0e0;
}
.st2 {
  opacity: 0.4;
}
.st3 {
  fill: #5084da;
}
.st4 {
  fill: #7c8ecd;
}
.st5 {
  opacity: 0.2278;
}
.st6 {
  opacity: 0.5;
  fill: #605aca;
}
.st7 {
  fill: #4ca1ff;
}
.st8 {
  fill: #8ec3eb;
}
.st9 {
  fill: none;
  stroke: #5193f4;
  stroke-miterlimit: 10;
}
.st10 {
  fill: #5193f4;
}
.st11 {
  opacity: 0.31;
  fill: none;
  stroke: #0b43a4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st12 {
  fill: #d780a2;
}
.st13 {
  opacity: 0.5;
  fill: none;
  stroke: #4ca1ff;
  stroke-miterlimit: 10;
}
.st14 {
  fill: #4a84d8;
}
.st15 {
  opacity: 0.5;
}
.st16 {
  fill: #db9bad;
}
.st17 {
  opacity: 0.37;
  fill: #5a4fd1;
}
.st18 {
  fill: #2e61ac;
}
.st19 {
  fill: #ffffff;
}
.st20 {
  fill: #c8eefb;
}
.st21 {
  clip-path: url(#SVGID_2_);
  fill: #5084da;
}
.st22 {
  fill: #4a8bda;
}
.st23 {
  opacity: 0.09;
}
.st24 {
  opacity: 0.3;
  fill: #94ebff;
}
.st25 {
  opacity: 0.5;
  fill: #94ebff;
}
.st26 {
  fill: #f9714e;
}
.st27 {
  opacity: 0.4;
  fill: #f9714e;
}
.st28 {
  fill: #ffb255;
}
.st29 {
  opacity: 0.4;
  fill: #ffb255;
}
.st30 {
  fill: #ffc2d3;
}
.st31 {
  fill: #2e2c84;
}
.st32 {
  opacity: 0.3;
}
.st33 {
  opacity: 0.5;
  fill: #2e2c84;
}
.st34 {
  fill: #123a75;
}
.st35 {
  fill: #8fc2ff;
}
.st36 {
  opacity: 0.3;
  fill: #8fc2ff;
}
.st37 {
  opacity: 0.3;
  fill: #ffc2d3;
}
.st38 {
  opacity: 0.5;
  fill: #ffc87c;
}
.st39 {
  fill: #f9acc8;
}
.st40 {
  opacity: 0.1;
}
.st41 {
  fill: #9fb8ff;
}
.st42 {
  fill: #4b48b5;
}
.st43 {
  fill: #568edb;
}
.st44 {
  fill: #5e9ce4;
}
.st45 {
  opacity: 0.16;
}
.st46 {
  fill: #4e84d9;
}
.st47 {
  fill: #97b2ef;
}
.st48 {
  fill: #00ad9f;
}
.st49 {
  fill: none;
  stroke: #086356;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
